<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav class="header-nav-list">
                    

        <div class="header-nav-item header-nav-item--collection">
          <a href="/bangals" data-animation-role="header-element" class="preFade fadeIn" style="transition-timing-function: ease; transition-duration: 1.5s; transition-delay: 0.0272727s;">
            
            Bangalôs
          </a>
        </div>
    
        <div class="header-nav-item header-nav-item--collection">
          <a href="/beach-club" data-animation-role="header-element" class="preFade fadeIn" style="transition-timing-function: ease; transition-duration: 1.5s; transition-delay: 0.0409091s;">
            
            Beach Club
          </a>
        </div>
      
        <div class="header-nav-item header-nav-item--collection">
          <a href="/experincia" data-animation-role="header-element" class="preFade fadeIn" style="transition-timing-function: ease; transition-duration: 1.5s; transition-delay: 0.0545455s;">
            
            Experiência
          </a>
        </div>
      
        <div class="header-nav-item header-nav-item--collection">
          <a href="/destino" data-animation-role="header-element" class="preFade fadeIn" style="transition-timing-function: ease; transition-duration: 1.5s; transition-delay: 0.0681818s;">
            
            Destino
          </a>
        </div>
      
        <div class="header-nav-item header-nav-item--collection">
          <a href="/contato" data-animation-role="header-element" class="preFade fadeIn" style="transition-timing-function: ease; transition-duration: 1.5s; transition-delay: 0.0818182s;">
            
            Contato
          </a>
        </div>
      
    
                      </nav>
 
<script>
    document.getElementsByClassName
    console.log(window.location.href)
 if(window.location.href === 'http://localhost:3333/home-en'){
     var gl = document.querySelectorAll('.preFade')
     console.log(gl)
     gl[0].textContent = 'bungalows'
     gl[1].textContent = 'Beach Club'
     gl[2].textContent = 'Experience'
     gl[3].textContent = 'Destine'
     gl[4].textContent = 'Contact'
 }
</script>
</body>

</html>

